@media screen and (max-width: 700px) {
    .navbar__menu {
        display: none;
    }

    .navbar__button {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar__dropdown.show {
        display: block;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #DAE3E1;
        width: 130px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 3;
        /****************Zindex**********/
    }

    .home-section__title {
        font-size: 30px;
    }

    .home-section__subtitle {
        font-size: 20px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .home-section__title {
        font-size: 40px;
    }

    .home-section__subtitle {
        font-size: 20px;
    }
}

@media screen and (max-height: 800px) {
    .home-section {
        height: 90vh;
    }
}

@media screen and (max-width: 1050px) {
    .about-me-section {
        display: block;
    }

    .about-me-section__image {
        display: none;
    }

    .about-me-section_greeting {
        font-size: 18px;
    }

    .about-me-section_content {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-me-section__greeting {
        font-size: 1rem;
    }

    .about-me-section__content {
        font-size: 0.875rem;
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .skills-section {
        flex-direction: column;
        gap: 20px;
    }

    .skills-section__soft-skills {
        width: 90%;
        height: auto;
    }

    .skills-section__soft-skill-item {
        font-size: 18px;
    }

    .skills-section__soft-skills-title,
    .skills-section__hard-skills-title {
        font-size: 20px;
    }

    .skills-section__hard-skills {
        width: 90%;
        height: auto;
    }

    .skills-section__hard-skill-item {
        font-size: 18px;
    }

    /* For the projects page */
    .projects-section__project-title {
        font-size: 18px;
    }

    .projects-section__project-description {
        font-size: 16px;
    }
}

@media screen and (max-width: 536px) {
    .skills-section {
        padding: 0;
        gap: 0;
    }

    .skills-section__soft-skills,
    .skills-section__hard-skills {
        padding-top: 50px;
        width: 100%;
        box-shadow: none;
    }

    .skills-section__soft-skill-item {
        width: 100%;
    }
}

@media screen and (min-width: 3000px) {
    .skills-section {
        justify-content: center;
        gap: 200px;
    }
}

@media screen and (max-width: 600px) {
    .education-section__timeline::after {
        left: 31px;
    }

    .education-section__timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .education-section__timeline-item::before {
        left: 60px;
        border: medium solid #D5E3E7;
        border-width: 10px 10px 10px 0;
        border-color: transparent #D5E3E7 transparent transparent;
    }

    .education-section__timeline-item--left::after,
    .education-section__timeline-item--right::after {
        left: 15px;
    }

    .education-section__timeline-item--right {
        left: 0%;
    }
}

@media screen and (min-width: 1050px) {
    .education-section__year {
        font-size: 22px;
    }

    .education-section__description {
        font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    .projects-section {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

@media (max-width: 950px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }

    .contact-left-title h2 {
        font-size: 25px;
    }

    .contact-left-title hr {
        width: 80px;
    }
}

@media screen and (max-width: 200px) {
    .contact-inputs {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .footer-section {
        height: 20vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}