.top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #345162;
    padding-right: 40px;
    border-bottom: 2px solid #DAE3E1;
    z-index: 3;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #DAE3E1;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-dropdown {
    display: none;
    position: absolute;
    top: 84px;
    right: 0;
    background-color: #DAE3E1;
    width: 130px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.nav-dropdown-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-dropdown-links li:not(:first-child):not(:last-child) {
    margin: 20px 0;
}

.nav-dropdown-links a {
    color: #588CA4;
    text-decoration: none;
    font-family: "Copse", serif;
    font-weight: 400;
    font-size: 18px;
}