* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    scroll-padding-top: 80px;
}

body {
    min-width: 320px;
}

.top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #345162;
    padding-right: 40px;
    border-bottom: 2px solid #DAE3E1;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #DAE3E1;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-dropdown {
    display: none;
    position: absolute;
    top: 84px;
    right: 0;
    background-color: #DAE3E1;
    width: 130px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /*********************************************Try here************************************************/
}

.nav-dropdown-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-dropdown-links li:not(:first-child):not(:last-child) {
    margin: 20px 0;
}

.nav-dropdown-links a {
    color: #588CA4;
    text-decoration: none;
    font-family: "Copse", serif;
    font-weight: 400;
    font-size: 18px;
}

main {
    margin-top: 80px;
}

.home-page {
    width: 100%;
    min-height: 600px; /* Minimum height to ensure content isn't too small */
    height: auto; /* Allows the element to grow based on content */
    max-height: 100vh; /* Maximum height relative to viewport height */
    overflow-y: auto;
    background-image: url("../images/home-page/home-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    gap: 30px;
}

.contact-icons-container {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    gap: 40px;
}

.home-page h1 {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color: #588CA4;
}

.home-page p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #588CA4;
}

.about-me-page {
    width: 100%;
    height: auto;
    background-color: #345162;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px 40px;
    overflow-y: auto;
}

.about-me-page .greeting {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.about-me-page div {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    width: 80ch;
}

.skills-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-image: url("../images/skills-page/skills-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.skills-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(198, 217, 223, 0.7);
    z-index: 1;
}

.soft-skills, .hard-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 490px;
    height: 550px;
    background-color: rgba(92, 88, 164, 0.06);
    box-shadow: 0px 0px 10px rgb(69, 111, 130);
    padding: 20px 20px;
    overflow-y: auto;
    z-index: 2;
    scrollbar-color: #5F8FA7 rgba(95, 143, 167, 0.20);
}

.soft-skills h2, .hard-skills h2 {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #588CA4;
}

.soft-skills p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: rgba(135, 171, 188, 0.06);
    border: 1px solid #588CA4;
    width: 90%;
    padding: 20px;
    color: #588CA4;
}

.hard-skills-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 60px;
}

.hard-skills-inner-container p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    height: 60px;
    width: 60px;
    background-color: rgba(88, 140, 164, 0.06);
    border-radius: 50%;
    border: 1px solid #588CA4;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #588CA4;
}

.educational-background-page {
    width: 100%;
    min-height: 600px; /* Minimum height to ensure content isn't too small */
    height: auto; /* Allows the element to grow based on content */
    max-height: 100vh; /* Maximum height relative to viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/education-page/education-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* The actual timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto; /* By using this the timeline is centered horizontally in the middle of the page. */
}

/* The vertical ruler */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #D5E3E7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #588CA4;
    border: 4px solid #D5E3E7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #D5E3E7;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #D5E3E7;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30.25px;
    border: medium solid #D5E3E7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D5E3E7 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    border: 2px solid #D5E3E7;
    border-radius: 6px;
    color: #D5E3E7;
}

.content h2 {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 20px;
}

.content p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.projects-page {
    width: 100%;
    height: auto;
    background-color: #DAE3E1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive column count */
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding: 40px 20px;
}

.project {
    position: relative;
    background-color: #003B4B;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.project h2 {
    color: #FFFFFF;
    font-family: "Copse", serif;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #D5E3E7; 
}

.project p {
    color: #D5E3E7;
    padding-top: 20px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-size: 18px;
}

.project a img {
    position: absolute;
    top: 15px;
    right: 15px;
}

.contact-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-image: url("../images/footer-background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

/* Media Queries */
@media screen and (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-dropdown.show {
        display: block;
    }

    .home-page h1 {
        font-size: 30px;
    }

    .home-page p {
        font-size: 20px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .home-page h1 {
        font-size: 40px;
    }

    .home-page p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .about-me-page {
        display: block;
    }
    .about-me-page img {
        display: none;
    }

    .about-me-page .greeting {
        font-size: 18px;
    }
    .about-me-page div {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-me-page .greeting {
        font-size: 16px;
    }
    .about-me-page div {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .skills-page {
        flex-direction: column;
        gap: 20px;
    }
    .soft-skills {
        width: 90%;
        height: auto;
    }
    .soft-skills p {
        font-size: 18px;
    }
    .soft-skills h2, .hard-skills h2 {
        font-size: 20px;
    }
    .hard-skills {
        width: 90%;
        height: auto;
    }
    .hard-skills-inner-container p {
        font-size: 18px;
    }
    /* For the projects page */
    .project h2 {
        font-size: 18px;
    }
    .project p {
        font-size: 16px;
    }
}

@media screen and (max-width: 536px) {
    .skills-page {
        padding: 0;
        gap: 0;
    }
    .soft-skills, .hard-skills {
        padding-top: 50px;
        width: 100%;
        box-shadow: none;
    }
    .soft-skills p {
        width: 100%;
    }
}

@media screen and (min-width: 3000px) {
    .skills-page {
        justify-content: center;
        gap: 200px;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left:70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid #D5E3E7;
        border-width: 10px 10px 10px 0;
        border-color: transparent #D5E3E7 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media screen and (min-width: 1050px) {
    .content h2 {
        font-size: 22px;
    }

    .content p {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 350px) {
    .projects-page {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

}