

main {
    margin-top: 80px;
}

.educational-background-page {
    width: 100%;
    min-height: 600px;
    height: auto;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/education-page/education-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #D5E3E7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #588CA4;
    border: 4px solid #D5E3E7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #D5E3E7;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #D5E3E7;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30.25px;
    border: medium solid #D5E3E7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D5E3E7 transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    border: 2px solid #D5E3E7;
    border-radius: 6px;
    color: #D5E3E7;
}

.content h2 {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 20px;
}

.content p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.projects-page {
    width: 100%;
    height: auto;
    background-color: #DAE3E1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding: 40px 20px;
}

.project {
    position: relative;
    background-color: #003B4B;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.project h2 {
    color: #FFFFFF;
    font-family: "Copse", serif;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #D5E3E7;
}

.project p {
    color: #D5E3E7;
    padding-top: 20px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-size: 18px;
}

.project a img {
    position: absolute;
    top: 15px;
    right: 15px;
}

.contact-me-page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-left-title h2 {
    font-family: "Copse", serif;
    font-weight: 600;
    font-style: normal;
    color: #588CA4;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 2px;
    background-color: #588CA4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: 1px solid #588CA4;
    outline: none;
    padding: 0 25px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding: 15px 25px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #588CA4;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #36454b, #588CA4);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
    width: 15px;
}

.footer-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-image: url("../images/footer/footer-background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 0 40px;
}

.footer-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 59, 75, 0.799);
    z-index: 1;
}

.footer-section div {
    z-index: 2;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icons img {
    width: 30px;
    height: 30px;
}

/* Media Queries */
@media screen and (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-dropdown.show {
        display: block;
    }

    .home-page h1 {
        font-size: 30px;
    }

    .home-page p {
        font-size: 20px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .home-page h1 {
        font-size: 40px;
    }

    .home-page p {
        font-size: 20px;
    }
}

@media screen and (max-height: 800px) {
    .home-page {
        height: 90vh;
    }
}

@media screen and (max-width: 1050px) {
    .about-me-page {
        display: block;
    }

    .about-me-page img {
        display: none;
    }

    .about-me-page .greeting {
        font-size: 18px;
    }

    .about-me-page div {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-me-page .greeting {
        font-size: 1rem;
    }

    .about-me-page div {
        font-size: 0.875rem;
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .skills-page {
        flex-direction: column;
        gap: 20px;
    }

    .soft-skills {
        width: 90%;
        height: auto;
    }

    .soft-skills p {
        font-size: 18px;
    }

    .soft-skills h2,
    .hard-skills h2 {
        font-size: 20px;
    }

    .hard-skills {
        width: 90%;
        height: auto;
    }

    .hard-skills-inner-container p {
        font-size: 18px;
    }

    /* For the projects page */
    .project h2 {
        font-size: 18px;
    }

    .project p {
        font-size: 16px;
    }
}

@media screen and (max-width: 536px) {
    .skills-page {
        padding: 0;
        gap: 0;
    }

    .soft-skills,
    .hard-skills {
        padding-top: 50px;
        width: 100%;
        box-shadow: none;
    }

    .soft-skills p {
        width: 100%;
    }
}

@media screen and (min-width: 3000px) {
    .skills-page {
        justify-content: center;
        gap: 200px;
    }
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid #D5E3E7;
        border-width: 10px 10px 10px 0;
        border-color: transparent #D5E3E7 transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media screen and (min-width: 1050px) {
    .content h2 {
        font-size: 22px;
    }

    .content p {
        font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    .projects-page {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

@media (max-width: 950px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }

    .contact-left-title h2 {
        font-size: 25px;
    }

    .contact-left-title hr {
        width: 80px;
    }
}

@media screen and (max-width: 200px) {
    .contact-inputs {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .footer-section {
        height: 20vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}