* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
}

.top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #345162;
    padding-right: 40px;
    border-bottom: 2px solid #DAE3E1;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #DAE3E1;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-dropdown {
    display: none;
    position: absolute;
    top: 84px;
    right: 0;
    background-color: #DAE3E1;
    width: 130px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /*********************************************Try here************************************************/
}

.nav-dropdown-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-dropdown-links li:not(:first-child):not(:last-child) {
    margin: 20px 0;
}

.nav-dropdown-links a {
    color: #588CA4;
    text-decoration: none;
    font-family: "Copse", serif;
    font-weight: 400;
    font-size: 18px;
}

main {
    margin-top: 80px;
}

.home-page {
    width: 100%;
    min-height: 600px; /* Minimum height to ensure content isn't too small */
    height: auto; /* Allows the element to grow based on content */
    max-height: 100vh; /* Maximum height relative to viewport height */
    overflow-y: auto;
    background-image: url("../images/home-page/home-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    gap: 30px;
}

.contact-icons-container {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    gap: 40px;
}

.home-page h1 {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color: #588CA4;
}

.home-page p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #588CA4;
}


.about-me-page {
    width: 100%;
    height: 100vh;
    background-color: #345162;
}

.skills-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 152px;
    width: 100%;
    height: 100vh;
    background-image: url("../images/skills-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* Ensures the overlay stays within the section */
}


.educational-background-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../images/education-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.projects-page {
    width: 100%;
    height: 100vh;
    background-color: #DAE3E1;
}

.contact-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-image: url("../images/footer-background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}



/* Media Queries */
@media screen and (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-dropdown.show {
        display: block;
    }

    .home-page {
        min-height: auto;
    }

    .home-page h1 {
        font-size: 30px;
    }

    .home-page p {
        font-size: 20px;
    }
}